//
// root.scss
//

@mixin color-mode($mode: light, $root: false) {
    @if $color-mode-type == "media-query" {
        @if $root ==true {
            @media (prefers-color-scheme: $mode) {
                :root {
                    @content;
                }
            }
        } @else {
            @media (prefers-color-scheme: $mode) {
                @content;
            }
        }
    } @else {
        [data-bs-theme="#{$mode}"] {
            @content;
        }
    }
}

//theme-light
:root,
[data-bs-theme="light"] {
    --#{$prefix}header-bg: #{$header-bg};
    --#{$prefix}header-item-color: #{$header-item-color};
    --#{$prefix}card-bg: #{$white};

    --#{$prefix}header-bg: #fff;
    --#{$prefix}header-item-color: #636e75;

    --#{$prefix}menu-item-color: #6c757d;
    --#{$prefix}menu-item-active-color: #0f9cf3;
    --#{$prefix}topbar-search-bg: #f1f5f7;
    --#{$prefix}topnav-bg: #fff;
    --#{$prefix}boxed-body-bg: #eff3f6;

    --#{$prefix}sidebar-bg: #ffffff;
    --#{$prefix}sidebar-menu-item-color: #6c757d;
    --#{$prefix}sidebar-menu-sub-item-color: #7c8a96;
    --#{$prefix}sidebar-menu-item-icon-color: #505d69;
    --#{$prefix}sidebar-menu-item-hover-color: #383c40;
    --#{$prefix}sidebar-menu-item-active-color: #0f9cf3;

    [data-sidebar="dark"] {
        --#{$prefix}sidebar-dark-bg: #252b3b; //2c313a
        --#{$prefix}sidebar-dark-menu-item-color: #8590a5;
        --#{$prefix}sidebar-dark-menu-sub-item-color: #8590a5;
        --#{$prefix}sidebar-dark-menu-item-icon-color: #8590a5;
        --#{$prefix}sidebar-dark-menu-item-hover-color: #d7e4ec;
        --#{$prefix}sidebar-dark-menu-item-active-color: #d7e4ec;
    }

    [data-topbar="dark"] {
        --#{$prefix}header-dark-bg: #252b3b;
        --#{$prefix}header-dark-item-color: #e9ecef;
    }

    [data-topbar="light"] {
        --#{$prefix}header-dark-bg: #252b3b;
        --#{$prefix}header-dark-item-color: #e9ecef;
    }

    [data-topbar="colored"] {
        --#{$prefix}header-dark-item-color: #e9ecef;
    }
}

//theme dark
@if $enable-dark-mode {
    @include color-mode(dark, true) {
        --#{$prefix}light: #{$light-dark};
        --#{$prefix}light-rgb: #{to-rgb($light-dark)};
        --#{$prefix}dark: #{$light-dark};
        --#{$prefix}dark-rgb: #{to-rgb($light-dark)};

        --#{$prefix}topnav-bg: #282e3f;
        --#{$prefix}topbar-search-bg: #2b3244;

        --#{$prefix}header-bg: #272d3e;
        --#{$prefix}header-item-color: #919bae;

        --#{$prefix}menu-item-color: #919bae;

        --#{$prefix}boxed-body-bg: #1d222e;

        .table-light {
            --#{$prefix}table-color: #{lighten($light-dark, 50%)};
            --#{$prefix}table-bg: var(--#{$prefix}tertiary-bg);
            --#{$prefix}table-border-color: var(--#{$prefix}border-color);
            --#{$prefix}table-striped-bg: var(--#{$prefix}tertiary-bg);
            --#{$prefix}table-striped-color: #{lighten($light-dark, 100%)};
            --#{$prefix}table-active-bg: var(--#{$prefix}tertiary-bg);
            --#{$prefix}table-active-color: #{lighten($light-dark, 100%)};
            --#{$prefix}table-hover-bg: var(--#{$prefix}tertiary-bg);
            --#{$prefix}table-hover-color: #{lighten($light-dark, 100%)};
        }

        --#{$prefix}sidebar-bg: #252b3b; //2c313a
        --#{$prefix}sidebar-menu-item-color: #8590a5;
        --#{$prefix}sidebar-menu-sub-item-color: #8590a5;
        --#{$prefix}sidebar-menu-item-icon-color: #8590a5;
        --#{$prefix}sidebar-menu-item-hover-color: #d7e4ec;
        --#{$prefix}sidebar-menu-item-active-color: #d7e4ec;

        &[data-sidebar="dark"] {
            --#{$prefix}sidebar-dark-bg: #252b3b; //2c313a
            --#{$prefix}sidebar-dark-menu-item-color: #8590a5;
            --#{$prefix}sidebar-dark-menu-sub-item-color: #8590a5;
            --#{$prefix}sidebar-dark-menu-item-icon-color: #8590a5;
            --#{$prefix}sidebar-dark-menu-item-hover-color: #d7e4ec;
            --#{$prefix}sidebar-dark-menu-item-active-color: #d7e4ec;
        }

        &[data-topbar="dark"] {
            --#{$prefix}header-dark-bg: #252b3b;
            --#{$prefix}header-dark-item-color: #e9ecef;
        }

        &[data-topbar="colored"] {
            --#{$prefix}topbar-search-bg: #2b3244;
            --#{$prefix}header-dark-bg: #252b3b;
            --#{$prefix}header-dark-item-color: #e9ecef;
        }
    }
}
